* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  border-bottom: 8px solid #5b087f;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.btn:link,
.btn:visited {
  background-color: #5b087f;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;

  display: inline-block;
  border-radius: 100px;
}

.btn:hover,
.btn:active {
  background-color: #420992;
}

.btn--small {
  font-size: 14px;
  padding: 8px 12px;
}

img {
  border-radius: 12px;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5b087f;
  color: #fff;
  padding: 20px 40px;
  grid-column: 1 / -1;
  border-radius: 12px;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

nav a {
  margin-right: 30px;
  display: inline-block;
  font-size: 15px;
  color: #fff;
}

nav a:link:last-child {
  margin-right: 0;
}

.header-text-box {
  align-self: left;
}

h1 {
  margin-bottom: 32px;
  font-size: 35px;
  line-height: 1.1;
  letter-spacing: -1px;
}

.header-text {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.7;
}

img {
  width: 100%;
}

.place {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  margin-top: 80px;
}

.place img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.place-box {
  padding: 32px;
}

h3 {
  margin-bottom: 24px;
  font-size: 20px;
}

.place-details {
  list-style: none;
  margin-bottom: 48px;
}

.place-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.place-details li:last-child {
  margin-bottom: 0;
}

.place-icon {
  stroke: #5b087f;
  width: 24px;
  height: 24px;
}

.place-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

footer {
  margin-bottom: 48px;
  margin-top: 100px;
  font-size: 14px;
  color: #495057;
}
